@model Business_Layer.Employee
@{
    ViewBag.Title = "Details";
}
<style>
    .dt{
        text-align: center;
    }
</style>
<div class="dt">
    <h2>Student Details</h2>
    <h3>Name : @Model.Name</h3>
    <h3>Gender : @Model.Gender</h3>
    <h3>City : @Model.City</h3>
    <h3>Date of Birth : @Model.DateOfBirth</h3>
    <img id="ProfilePic" src="@Model.ImagePath" alt="Profile Picture" height="100" width="100" />
    @Html.ActionLink("Back to List", "Index")
</div>
